{% extends "base.html" %}

{% block title %}
  Register
{% endblock %}

{% block css %}
<style>
  span {
    display: none;
  }
  label {
    display: block;
  }
  main {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    height: 400px;
  }

  form {
    align-self: center;
  }
</style>
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Register">
    <a href="{% url 'login' %}">Login</a>
  </form>
{% endblock %}